<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="c" class="SetterObjectInjection.Course">
		<property name="course_id" value="10L2"/>
		<property name="course_name" value="CSE"/>
	</bean>

</beans>
