<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="stu" class="SetterObjectInjection.Student">
		<property name="sid" value="201"/>
		<property name="sname" value="Ravi"/>
		<property name="marks" value="450"/>
		<property name="c">
			<ref bean="c"/>
		</property>
	</bean>
	

</beans>
